name: "Quick build"
on:
  push:
    paths:
      - 'src/**'
      - '!src/**/*.md'
  workflow_dispatch:

jobs:
  validate:
    uses: navikt/sf-platform/.github/workflows/ciQuickBuild.yml@main
    permissions:
      contents: read
      packages: write
